* {
    font-family: "微软雅黑 Light";
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.span-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.span-middle {
    position: absolute;
    left: 46%;
    transform: translate(-50%, -50%);
}

.span-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.margin-bottom {
    margin-bottom: 20px;
}

.choose-wap {
    position: relative;
    padding: 40px 0;
    margin: 0 20px;
}

.choose-month {
    padding: 0 20px 40px;
}

.main-calendar {
    margin: 0px 360px;
    background-color: #eeeeee;
}

#calendar {
    width: 100%;
}

td {
    position: relative;
    text-align: center;
    min-width: 60px;
    height: 60px;
}

.todayTd,
.weekTd,
.todayTd div,
.weekTd div {
    background-color: #ff2e2e;
    color: #fff;
    font-size: 16px;
}

.weekTd {
    border: solid 1px #fff;
    border-top: none;
    border-bottom: none;
}

.date {
}

.dateNum {
    font-size: xx-large;
    color: #e25c38;
}

table {
    width: 100%;
}

thead tr td {
    color: #8e8e8e;
}

#dateZone {
    width: 100%;
    height: 100%;
}

.date-disabled {
    color: #bbbbc6;
}

.default-choose {
    padding: 8px 18px;
    display: inline-block;
    background-color: #fff;
    color: #999;
    border: solid 1px #999;
    font-size: 16px;
}

.choose-way {
    color: #000;
    border: solid 2px #e4393c;
    position: relative;
}

.choose-way .tip-img {
    display: block;
}

.tip-img {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.ch-month {
    cursor: pointer;
    font-size: 24px;
}

.ch-month:hover {
    color: #888;
}

#month {
    color: #888;
}